/* colors */
$primary: #e22ed0;
$secondary: #298ce7;
$white: #ffffff;
$black: #0c0c0c;
$gray: #383838;
$light-gray: #5f5f5f;
$bg-tinted: #f4f5f5;
$bg-white: #ffffff;

/* font-size */
$bg-text: 356px;
$heading-small: 24px;
$heading-regular: 72px;
$heading-large: 144px;
$paragraph-small: 24px;
$paragraph-regular: 36px;
$paragraph-large: 64px;
$btn-regular: 14px;

/* spacing */
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 20px;
$spacing-xlarge: 36px;
